<!DOCTYPE html>
<html>

<head>
    <title>Members Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <h1>Members List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <% members.forEach(member=> { %>
                <tr>
                    <td>
                        <%= member.id %>
                    </td>
                    <td>
                        <%= member.name %>
                    </td>
                    <td>
                        <%= member.age %>
                    </td>
                    <td>
                        <%= member.email %>
                    </td>
                    <td>
                        <a href="/members/delete-member/<%= member.id %>">Delete member</a>
                        <a href="/members/update-member/<%= member.id %>">Update member</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a href="/members/create-member"> Add more member </a>
</body>

</html>
